APP_ENV=local
ALLOWED_ORIGINS=http://localhost

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your-database-password
DB_NAME=timetable_system
JWT_KEY=your-secret-key
DOMAIN=localhost

SEED_ADMIN_PASSWORD=
SEED_LECTURER_PASSWORD=

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USERNAME=your-smtp-username
SMTP_PASSWORD=your-smtp-password
SMTP_ENCRYPTION=tls
SMTP_AUTH=true
SMTP_FROM_EMAIL=no-reply@example.com
SMTP_FROM_NAME=Laboratory Schedule System
