<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /LaboratoryScheduleSystemWebsite/Backend/

    # Redirect everything to server.php except existing files/folders
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^api/v1/(.*)$ server.php/api/v1/$1 [QSA,L]
</IfModule>